header, nav, footer
{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .seccioness {
        flex-direction: column;
    }

    .slider1, .slider2, .slider3 {
        height: 250px;
    }
}

@media (min-width: 1299px)
{
    .seccioness {
        flex-direction: row;
    }
}

a
{
    color: yellow;
}