header, nav, footer
{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .seccioness {
        flex-direction: column;
    }

    .slider1, .slider2, .slider3 {
        height: 250px;
    }
}

@media (min-width: 1299px)
{
    .seccioness {
        flex-direction: row;
    }
}

a
{
    color: yellow;
}


.seccioness {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.slider1, .slider2, .slider3 {
    flex: 1;
    height: 400px;
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@keyframes slide {
  0%   { transform: translateX(0%); }
  30%  { transform: translateX(0%); }

  35%  { transform: translateX(-33%); }
  65%  { transform: translateX(-33%); }

  70%  { transform: translateX(-66%); }
  99% { transform: translateX(-66%); }
  100% { transform: translateX(0%);}
}

.f,textarea,input
{
justify-self: center;
width: 600px;
}

.in1
{
    position: relative;
    width: 60px;
}