header, nav, footer
{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
@media (max-width: 600px)
{
    nav ul {
        flex-direction: column;
    }
    .seccioness {
        flex-direction: column;
    }
}
 
@media (min-width: 601px)
{
    .seccioness {
        flex-direction: row;
    }
}
a
{
    color: yellow;
}